USE [master]
GO
/****** Object:  Database [car_shop]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE DATABASE [car_shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'car_shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\car_shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'car_shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\car_shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [car_shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [car_shop]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 26-Aug-25 21:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[make] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[mileage] [int] NOT NULL,
	[color] [nvarchar](30) NULL,
	[fuel_type] [nvarchar](20) NOT NULL,
	[transmission] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [nvarchar](255) NULL,
	[is_available] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inquiries]    Script Date: 26-Aug-25 21:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inquiries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 26-Aug-25 21:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cars] ON 

INSERT [dbo].[cars] ([id], [make], [model], [year], [price], [mileage], [color], [fuel_type], [transmission], [description], [image_url], [is_available], [created_at], [updated_at]) VALUES (1, N'Toyota', N'Camry', 2020, CAST(25000.00 AS Decimal(10, 2)), 45000, N'Silver', N'gasoline', N'automatic', N'Well-maintained Toyota Camry with excellent fuel economy and reliability. Perfect for daily commuting.', N'https://example.com/camry.jpg', 1, CAST(N'2025-08-26T16:59:12.5366667' AS DateTime2), CAST(N'2025-08-26T16:59:12.5366667' AS DateTime2))
INSERT [dbo].[cars] ([id], [make], [model], [year], [price], [mileage], [color], [fuel_type], [transmission], [description], [image_url], [is_available], [created_at], [updated_at]) VALUES (2, N'Honda', N'Civic', 2019, CAST(22000.00 AS Decimal(10, 2)), 38000, N'Blue', N'gasoline', N'manual', N'Sporty Honda Civic with manual transmission. Great for driving enthusiasts who prefer more control.', N'https://example.com/civic.jpg', 1, CAST(N'2025-08-26T16:59:12.5366667' AS DateTime2), CAST(N'2025-08-26T16:59:12.5366667' AS DateTime2))
INSERT [dbo].[cars] ([id], [make], [model], [year], [price], [mileage], [color], [fuel_type], [transmission], [description], [image_url], [is_available], [created_at], [updated_at]) VALUES (4, N'BMW', N'X5', 2018, CAST(35000.00 AS Decimal(10, 2)), 62000, N'Black', N'diesel', N'automatic', N'Luxury SUV with powerful diesel engine. Perfect for families who need space and performance.', N'https://example.com/x5.jpg', 1, CAST(N'2025-08-26T16:59:12.5366667' AS DateTime2), CAST(N'2025-08-26T16:59:12.5366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[cars] OFF
GO
SET IDENTITY_INSERT [dbo].[inquiries] ON 

INSERT [dbo].[inquiries] ([id], [user_id], [car_id], [message], [status], [created_at], [updated_at]) VALUES (1, 2, 1, N'Hi, I am interested in the Toyota Camry. Is it still available? Can we schedule a test drive?', N'pending', CAST(N'2025-08-26T16:59:12.5500000' AS DateTime2), CAST(N'2025-08-26T16:59:12.5500000' AS DateTime2))
INSERT [dbo].[inquiries] ([id], [user_id], [car_id], [message], [status], [created_at], [updated_at]) VALUES (3, 2, 5, N'Is the Ford Mustang price negotiable? I am very interested in purchasing it.', N'pending', CAST(N'2025-08-26T16:59:12.5500000' AS DateTime2), CAST(N'2025-08-26T16:59:12.5500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[inquiries] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password], [role], [created_at], [updated_at]) VALUES (1, N'admin', N'admin@carshop.com', N'$2a$12$DKjqetCQlwwRHvBJXVnrTOuXkaLzJwGq3yzuaNt7auGWoD1JqHXX2', N'admin', CAST(N'2025-08-26T16:59:12.5300000' AS DateTime2), CAST(N'2025-08-26T16:59:12.5300000' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [email], [password], [role], [created_at], [updated_at]) VALUES (2, N'customer1', N'customer@example.com', N'$2a$12$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'customer', CAST(N'2025-08-26T16:59:12.5300000' AS DateTime2), CAST(N'2025-08-26T16:59:12.5300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_cars_available]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_cars_available] ON [dbo].[cars]
(
	[is_available] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_cars_make_model]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_cars_make_model] ON [dbo].[cars]
(
	[make] ASC,
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cars_price]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_cars_price] ON [dbo].[cars]
(
	[price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cars_year]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_cars_year] ON [dbo].[cars]
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inquiries_car_id]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_inquiries_car_id] ON [dbo].[inquiries]
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_inquiries_status]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_inquiries_status] ON [dbo].[inquiries]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_inquiries_user_id]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_inquiries_user_id] ON [dbo].[inquiries]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616460F93FA2]    Script Date: 26-Aug-25 21:04:27 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57255EF2730]    Script Date: 26-Aug-25 21:04:27 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_email]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_username]    Script Date: 26-Aug-25 21:04:27 ******/
CREATE NONCLUSTERED INDEX [IX_users_username] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT ((0)) FOR [mileage]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT ('gasoline') FOR [fuel_type]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT ('manual') FOR [transmission]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[inquiries] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[inquiries] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[inquiries] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[inquiries]  WITH CHECK ADD  CONSTRAINT [FK_inquiries_car_id] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inquiries] CHECK CONSTRAINT [FK_inquiries_car_id]
GO
ALTER TABLE [dbo].[inquiries]  WITH CHECK ADD  CONSTRAINT [FK_inquiries_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inquiries] CHECK CONSTRAINT [FK_inquiries_user_id]
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD  CONSTRAINT [CK_cars_fuel_type] CHECK  (([fuel_type]='hybrid' OR [fuel_type]='electric' OR [fuel_type]='diesel' OR [fuel_type]='gasoline'))
GO
ALTER TABLE [dbo].[cars] CHECK CONSTRAINT [CK_cars_fuel_type]
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD  CONSTRAINT [CK_cars_transmission] CHECK  (([transmission]='automatic' OR [transmission]='manual'))
GO
ALTER TABLE [dbo].[cars] CHECK CONSTRAINT [CK_cars_transmission]
GO
ALTER TABLE [dbo].[inquiries]  WITH CHECK ADD  CONSTRAINT [CK_inquiries_status] CHECK  (([status]='closed' OR [status]='responded' OR [status]='pending'))
GO
ALTER TABLE [dbo].[inquiries] CHECK CONSTRAINT [CK_inquiries_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='customer' OR [role]='admin'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
USE [master]
GO
